<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Upload</title>
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    
    {% block body %}{% endblock %}

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/vendor/jquery.ui.widget.js"></script>
    <script src="./assets/js/load-image.all.min.js"></script>
    <script src="./assets/js/canvas-to-blob.min.js"></script>
    <script src="./assets/js/jquery.iframe-transport.js"></script>
    <script src="./assets/js/jquery.fileupload.js"></script>
    <script src="./assets/js/jquery.fileupload-process.js"></script>
    <script src="./assets/js/jquery.fileupload-image.js"></script>
    <script src="./assets/js/jquery.fileupload-video.js"></script>
    <script src="./assets/js/jquery.fileupload-audio.js"></script>
    <script src="./assets/js/jquery.fileupload-validate.js"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>